*{
  font-family: helvetica;
}

h1 {
  margin: auto 50px;
  z-index: 2;
  display: inline-block;
}

p {
  margin: auto 50px;
  display: inline-block;
}

.png {
  width: 100%;
  display: inline-block;
  position: fixed;
  height: auto;
  z-index: 1;
}
  
.rams {
  width: 50%;
  display: inline-block;
  position: absolute;
  height: 750px;
  margin: auto 50px;
}
    
