*{
  font-family: helvetica;
}

h1 {
  margin: auto 15%;
  margin-bottom: 50px;
  display: inline-block;
  z-index: 2;
}

p {
  margin: 5px 15%;
  display: inline-block;
}

.png {
  width: 100%;
  margin-top: 0;
  margin-left:0;
  display: inline-block;
  position: fixed;
  height: auto;
  z-index: 1;
}
  
.rams {
  width: auto;
  display: inline-block;
  height: 500px;
  margin: 25px 15%;
}
    
